<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Registro</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">

    <h2 class="mb-4">Registrar Equipo</h2>

    <form th:action="@{/guardar}" th:object="${equipo}" method="post" class="needs-validation">

        <div class="form-group">
            <label>Nombre del equipo:</label>
            <input type="text" th:field="*{nombre}" class="form-control" required>
        </div>

        <div class="form-group">
            <label>ID del equipo:</label>
            <input type="text" th:field="*{identificador}" class="form-control" pattern="[a-zA-Z0-9]+" required>
        </div>

        <div class="form-group">
            <label>Categoría:</label>
            <select th:field="*{categoria}" class="form-control">
                <option value="Laptop">Laptop</option>
                <option value="PC de escritorio">PC de escritorio</option>
                <option value="Servidor">Servidor</option>
                <option value="Impresora">Impresora</option>
                <option value="Accesorios">Accesorios</option>
            </select>
        </div>

        <div class="form-group">
            <label>Marca:</label>
            <input type="text" th:field="*{marca}" class="form-control" required>
        </div>

        <div class="form-group">
            <label>Fecha de adquisición:</label>
            <input type="date" th:field="*{fechaAdquisicion}" class="form-control" required>
        </div>

        <div class="form-group">
            <label>Precio:</label>
            <input type="number" th:field="*{precio}" step="0.01" class="form-control" required>
        </div>

        <div class="form-group">
            <label>Estado:</label>
            <select th:field="*{estado}" class="form-control">
                <option value="Nuevo">Nuevo</option>
                <option value="Buen estado">Buen estado</option>
                <option value="En Reparación">En Reparación</option>
                <option value="Obsoleto">Obsoleto</option>
            </select>
        </div>

        <div class="form-group">
            <label>Observaciones:</label>
            <textarea th:field="*{observaciones}" class="form-control" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Guardar</button>
		<a href="/verlista" class="btn btn-outline-info mt-3 ml-2">Ver equipos registrados</a>


    </form>

    <div class="mt-4 text-success" th:if="${mensaje}">
        <strong th:text="${mensaje}"></strong>
    </div>

</body>
</html>
